

<form class="form-horizontal" id="hotelSearchForm" method="post" role="form">
    <div class="row">
        <div class="col-sm-12">
            <div class="field-icon-wrap">
                <input type="text" class="form-control" id="hotelDestination" name="hotelDestination" placeholder="e.g. City, Area and Hotel" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
            <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
            <div class="field-icon-wrap">
                <div class='input-group date' id='datepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
            <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
            <div class="field-icon-wrap">
                <div class='input-group date' id='datepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <label for="adults" class="font-weight-bold text-black">Adults</label>
                    <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="adults" class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0">
                    <label for="children" class="font-weight-bold text-black">Children</label>
                    <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="children" class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4+</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 align-self-end">
            <button class="btn btn-primary btn-block text-white">Check Availabilty</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
         $('#datepicker1').datepicker();
        $('#datepicker2').datepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datepicker1").on("dp.change", function (e) {
            $('#datepicker2').data("DatePicker").minDate(e.date);
        });
        $("#datepicker2").on("dp.change", function (e) {
            $('#datepicker1').data("DatePicker").maxDate(e.date);
        });
    });
</script>